/*@font-face { 
font-family: 'Yandex Sans Display Light'; 
src: url('../fonts/YandexSansDisplay-Light.eot'); 
src: url('../fonts/YandexSansDisplay-Light.eot?#iefix') format('embedded-opentype'), 
url('../fonts/YandexSansDisplay-Light.woff') format('woff'), 
url('../fonts/YandexSansDisplay-Light.ttf') format('truetype'); 
font-weight: normal; 
font-style: normal; 
}*/