@import 'variables';
@import 'fonts';


* {
	box-sizing: border-box;
	word-wrap: break-word;
}

html {
	font-size: 10px;
}

body {
	background: $q-color;
	color: $u-color;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "Helvetica Neue", "Segoe UI", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;
	//font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
	//font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	overflow: hidden;
}

.img {
	width: 100%;
	min-height: 100%;
}

input {
	outline: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

.no-select {
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none
}


.button {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	outline: none;
}

.hidden-text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.hidden-block {
	display: none!important;
	opacity: 0!important;
	position: absolute!important;
	left: -9999px!important;
	height: 0!important;
	width: 0!important;
	overflow: hidden!important;
}

.material-block {
	background: $o-color;
}



.main-content {
	.content-page {
		.content__header-panel {
			background: $e-color;
			color: $o-color;
		    height: 50px;
		    position: relative;
		    // display: flex;
		    // align-items: center;
		    position: absolute;
		    top: 0;
		    right: 0;
		    left: 0;
		    z-index: 1;
		}
		.content__header-container {
			display: flex;
			align-items: center;
			height: 100%;
			margin-right: 306px;
			margin-left: 276px;
		}
		.header-panel__logo {
			img {
				height: 30px;
			}
		}
		.header-panel__user {
			margin-left: auto;
			display: flex;
			align-items: center;
			height: 100%;
			padding: 0 10px;
			transition: all .3s ease;
			cursor: pointer;
			&:hover {
				background: #3e6592;
			}
		}
		.header-panel__user-name {
			font-weight: 500;
		}
		.header-panel__user-img {
			width: 40px;
			height: 40px;
			background: no-repeat center / cover;
			border-radius: 50%;
			flex: none;
			margin-left: 10px;
		}
		.main-page {
			width: 100vw;
			height: 100vh;
			position: relative;
			padding-top: 55px;
			display: flex;
			margin-bottom: 10px;
			overflow: hidden;
		}
		.main-page__menu {
			flex: none;
		}
		.main-page__menu-shadow {
			position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(4, 4, 4, 0.7);
			z-index: 1;
			display: none;
		}
		.main-page__menu_left {
			width: 250px;
			margin-left: 10px;
			display: flex;
			flex-direction: column;
			.left-menu__block {
				//margin-bottom: 30px;
				height: calc(100% - 60px);
				//padding-bottom: 44px;
				margin-bottom: auto;
			}
			.left-menu__block-header {
				padding: 10px;
				color: $e-color;
				margin-bottom: 5px;
				display: flex;
				align-items: center;
				cursor: pointer;
				transition: all 0.3s ease;
				&:hover { 
					background: $a-color;
				}
			}
			.left-menu__block-header__text {
			    margin-right: auto;
			}
			.left-menu__block-items {
				overflow-y: auto;
				height: calc(100% - 60px);
			}
			.left-menu__block-item {
				// padding: 10px 20px;
				background: $o-color;
				border-bottom: 1px solid $q-color;
				cursor: pointer;
				transition: all 0.3s ease;
				display: flex;
				//align-items: center;
				flex-direction: column;
				&:last-child {
					border-bottom: none;
				}
				:hover {
					background: $a-color;
					.left-menu__block-item__icons {
						opacity: 1;
					}
				}
				&.select {
					background: $a-color;
				}
				&.edit {
					.left-menu__block-item__icons {
						opacity: 1;
						i {
							display: none;
							&.edit-icon {
								display: inline-block;
							}
						}
					}
				}
				&.select-org {
					.left-menu__block-item__content {
						background: $a-color;
					}	
				}
			}
			.left-menu__block-item__content {
				display: flex;
				align-items: center;
			}
			.left-menu__block-item__text {
			    display: block;
			    padding: 10px 20px;
			    flex: 1;
			}
			.left-menu__block-item__input {
				flex: 1;
				margin: 10px 20px;
				border: 0;
				border-bottom: 1px solid #bfbfbf;
				background: 0;
			}
			.left-menu__block-item__icons {
				margin-right: 10px;				
				opacity: 0;
				transition: all 0.3s ease;
				i {
					transition: all 0.3s ease;
					color: #3c72af;
					width: 20px;
					height: 20px;
					align-items: center;
					line-height: 20px;
					cursor: pointer;
					&:hover {
						color: #2e5786;
					}
				}
			}
			.left-menu__block-item__lists {
				border-top: 1px solid #eee;
			}
			.left-menu__block-item__list-create {
				//padding: 8px 15px 8px 30px;
				padding-right: 15px;
				transition: all .3s ease;
				display: flex;
				align-items: center;
				border-bottom: 1px solid $q-color;
				.left-menu__block-item__list-text {
					color: $e-color;
				}
				&:hover {
					.left-menu__block-item__list-text {
						padding-left: 35px;
					}
				}
				.left-menu__block-item__list-icons {
					opacity: 1;
				}
				.left-menu__block-item__input {
					margin: 8px 10px 8px 30px;
				}
			}
			.left-menu__block-item__list {
				//padding: 8px 15px 8px 30px;
				padding-right: 15px; 
				transition: all .3s ease;
				display: flex;
				align-items: center;
				&:hover {
					//background: $a-color;
					.left-menu__block-item__list-icons {
						opacity: 1;
					}
					.left-menu__block-item__list-text {
						padding-left: 35px;
					}
				}
				.left-menu__block-item__input {
					margin: 8px 10px 8px 30px;
				}
				&.edit {
					.left-menu__block-item__list-icons {
						opacity: 1;
						i {
							display: none;
						}
						.edit-icon {
							display: block;
						}
					}
				}
			}
			.left-menu__block-item__list-text {
				flex: 1;
				padding: 8px 10px 8px 30px;
				transition: all .3s ease;
			}
			.left-menu__block-item__list-icons {
				color: #3c72af;
				opacity: 0;
				transition: all .3s ease;
				i {
					width: 20px;
					height: 20px;
					line-height: 20px;
					cursor: pointer;
				}
			}
			.left-menu__btn {
			    height: 50px;
			    margin-bottom: 10px;
			    background: $o-color;
			    display: flex;
			    cursor: pointer;
			    line-height: 50px;
			    text-align: center;
			    font-size: 30px;
			    color: #4A76A8;
			    .left-menu__btn-column {
			    	width: 50%;
					&.active {
						color: $o-color;
						background: #4A76A8;
					}
			    }
			}
		}
		.main-page__menu_right {
			width: 280px;
			margin-right: 10px;
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
		}
		.main-page__container {
			margin: 0 16px;
			width: 100%;
		}
		.main-page__task-list {
			height: 100%;		
			.task-list__header {
				height: 34px;
				display: flex;
				align-items: center;
				margin-bottom: 5px;
			}
			.task-list__header-create {
				height: 100%;
				background: $w-color;
				color: $o-color;
				padding: 7px 30px;
				margin-right: auto;
				cursor: pointer;
			}
			.task-list__header-sort {
				width: 181px;
				height: 100%;
				padding: 7px 0px;
				text-align: center;
				margin: 0 0 0 20px;
				z-index: 1;
				cursor: pointer;
			}
			.header-sort__list {
				background: white;
				width: 190px;
				margin-top: 8px;
				box-shadow: 0 3px 3px 0px #98989845;
				margin-left: -0.9rem;
				
			}
			.header-sort__list-item {
				padding: 7px 10px;
				transition: all 0.3s ease;
				text-align: left;
				&.active {
					background: $a-color;
				}
				&:hover {
					background: $a-color;
				}
			}
			.task-list__content {
				height: 100%;
				overflow-y: auto;
			}
			.task-list__task-item {
			    display: flex;
			    align-items: center;
			    border-bottom: 1px solid $q-color;
			    cursor: pointer;
			    //padding: 10px 0;
			    transition: all 0.3s ease;
			    &.select, &:hover {
					background: $e-color;
					color: $o-color;
					.task-item__status {
						color: #000000;
					}
			    }
			}

			.task-item__favorites {
			    width: 50px;
			    text-align: center;
			    height: 100%;
			    padding: 10px 0;
			    cursor: pointer;
			    i.select {
			    	font-weight: 900;
			    	color: $w-color;
			    } 
			}

			.task-item__name {
			    flex: 1;
			    padding: 10px;
			    padding-right: 20px;
			}

			.task-item__status {
			    // width: 200px;
			    // width: 11vw;
			    width: 130px;
			    // min-width: 140px;
			    text-align: center;
			    //border-left: 1px solid #707070;
			    //border-right: 1px solid #707070;
			    padding: 10px 0;
			    &.inwork {
					background: #FFF2E5;
			    }
			    &.completed {
					background: #E5FFEB;
			    }
			    &.new {
					background: #FFFFE5;
			    }
			    &.verifying {
			    	background: #E4F4FA;
			    }
			}

			.task-item__author {
			    width: 300px;
			    text-align: center;
			    padding: 10px 20px;
			}
		}
		.organization-page {
			padding: 30px 50px;
			display: flex;
			flex-direction: column;
			overflow-y: auto;
			height: 100%;	
			.organization-page__header {
				display: flex;
			}
			.organization-page__img {
				width: 160px;
				height: 160px;
				border-radius: 50%;
				background: no-repeat center / cover;
				flex: none;
				margin-right: 20px;
			}
			.organization-page__info-mobile {
				display: none;
			}
			.organization-page__info {
				margin-top: 10px;
				max-width: 400px;
			}
			.organization-page__info-name {
				font-weight: 500;
				font-size: 18px;
			}
			.organization-page__info-status {
				margin-bottom: 10px;
				color: #969696;
			}
			.organization-page__statistics {
				display: flex;
				align-items: center;
				text-align: center;
				margin-left: auto;
				margin-right: 50px;
			}
			.organization-page__statistics-block {
				margin: 0 10px;
				flex: none;
			}
			.organization-page__statistics-num {
				font-weight: 500;
				font-size: 3rem;
				color: #b7b7b7;
			}
			.organization-page__body {
				margin-top: 20px;
				padding-top: 20px;
				border-top: 1px solid #eeeeee;
			}
			.organization-page__body-title {
				font-weight: 500;
				font-size: 18px;
				margin-bottom: 20px;
			}
			.organization-page__body-title__small {
				font-weight: 500;
				margin-top: 20px;
				&:first-child {
					margin-top: 0;
				}
			}
			.new-members__group {
				margin-top: 10px;
			}
			.new-members__group-title {
				margin-bottom: 5px;
			}
			.new-members__form {
				padding: 6px 10px;
				border-radius: 4px;
				border: 1px solid #dfdfdf;
				min-height: 34px;
				position: relative;
				background: #ffffff;
			}
			.new-members__form-placeholer {
				color: #848484;
				background: #fff;
				border: 0;
				font-size: 13px;
				height: 23px;
				width: 200px;
			}
			.new-members__list-members {
				display: flex;
				flex-wrap: wrap;
				padding-bottom: 0;
			}
			.new-members__form-dropdown {
				position: absolute;
				left: 0;
				top: 116%;
				border-radius: 4px;
				border: 1px solid #dfdfdf;
				width: 100%;
				background: #ffffff;
				padding: 10px 0;
				z-index: 1;
				min-height: 50px;
				display: flex;
				// justify-content: center;
				flex-direction: column;
				box-shadow: 0 2px 4px rgba(0,0,0,0.1);
				margin-bottom: 20px;
				max-height: 350px;
				overflow-y: auto; 
			}
			.new-members__form-dropdown__item-text {
				padding: 5px 10px;
			}
			.new-members__form-dropdown__item {
				padding: 8px 10px;
				display: flex;
				align-items: center;
				cursor: pointer;
				transition: all .3s ease;
				line-height: 16px;
				&:hover {
					background: #eee;
				}
			}
			.new-members__form-dropdown__item-img {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background: no-repeat center / cover;
				flex: none;
				margin-right: 10px;
			}
			.new-members__form-dropdown__item-nick {
				color: #848484;
			}
			.new-members__list-members__item {
				margin-right: 10px;
				background: #dedede;
				border-radius: 4px;
				padding: 2px 6px;
				cursor: pointer;
				flex: none;
				margin-bottom: 6px;
				.new-members__list-members__item-del {
					margin-left: 5px;
					font-size: 13px;
					color: #a9a9a9;
					line-height: 10px;
				}
			}
			.new-members__footer-button {
		      	border: 1.3px solid;
		      	padding: 5px 10px;
		     	border-radius: 3px;
		      	-webkit-box-shadow: 0 0 2px 1px #b5b5b53b;
		      	box-shadow: 0 0 2px 1px #b5b5b53b;
		     	cursor: pointer;
		      	-webkit-transition: all .3s ease;
		     	-o-transition: all .3s ease;
		     	transition: all .3s ease;
		     	display: inline-block;
				&.primary {
					border-color: #79d879;
				}
				&:hover {
					color: #ffffff;
					background: #79d879;
				}
			}
			.organization-page__existing-members {
				margin-top: 10px;
			}
			.organization-page__existing-member {
				display: flex;
				align-items: center;
				margin-bottom: 10px;
			}
			.organization-page__existing-img {
				width: 35px;
				height: 35px;
				border-radius: 50%;
				flex: none;
				background:  no-repeat center / cover;
				margin-right: 10px;
			}
			.organization-page__existing-left {
				display: flex;
				align-items: center;
			}
			.organization-page__existing-nick {
				color: #848484;
			}
			.organization-page__existing-control {
				margin-left: 30px;	
				display: flex;
				align-items: center;
				.new-members__group {
					margin-top: 0;
					margin-right: 10px;
					width: 200px;
					.new-members__form-dropdown {
						top: inherit;
						bottom: 57%;
					}
				}
			}
			.organization-page__existing-del {
				background: #e85c5c;
				color: #ffffff;
				padding: 6px 11px;
				border-radius: 4px;
				cursor: pointer;
				display: inline-block;
			}
		}
		.control-tasks {
			height: calc(100vh - 374px);
			height: 100%;
			display: flex;
			flex-direction: column;
		}
		.control-tasks__header {
			// height: 50px;
			// line-height: 50px;
			padding: 12px 20px;
			//border-bottom: 2px solid $t-color;
			//margin-bottom: 20px;
			font-weight: 500;
			font-size: 18px;
			display: flex;
			&.edit {
				.control-tasks__header-icon {
					i {
						display: none;
					}
					.edit-icon {
						display: block;
					}
				}
			}
		}
		.control-tasks__header-text {
			flex: 1;
			padding-right: 10px;
		}
		.control-tasks__header-icon {
			color: #3c72af;
			cursor: pointer;
			.edit-icon {
				display: none;
			}
		}
		.control-tasks__header-input {
			flex: 1;
			border: 0;
			font-weight: 500;
			font-size: 18px;
			padding-right: 10px;
		}
		.control-tasks__button {
			//height: 40px;
			//line-height: 40px;
			//padding: 0 20px;
			padding: 12px 20px;
			color: $t-color;
			// border-bottom: 1px solid $q-color;
			cursor: pointer;
			transition: all .3s ease;
			display: flex;
			/*&:hover {
				background: $q-color;
			}*/
			&:first-child {
				border-top: 1px solid $q-color;
			}
			.control-tasks__button-content {
			    max-width: 190px;
			}
			.control-tasks__button__text {
				margin-right: 10px;
			}
			.control-tasks__button-input {
				margin-top: 5px;
				border: 0;
				border-bottom: 1px solid #eeeeee;
				outline: 0;
				-webkit-appearance: button;
				max-width: 100%;
				&:first-child {
					margin-top: 0;
				}
			}
			.control-tasks__button-input_textarea {
				resize: vertical;
				min-height: 60px;
			}
			.control-tasks__users-list {
			    display: flex;
			    align-items: center;
			    flex-wrap: wrap;	 
			    position: relative;   
			}

			.control-tasks__user {
				color: #ffffff;
			    background: #4a76a8;
			    border-radius: 3px;
			    padding: 2px 8px;
			    margin-right: 5px;
			    margin-top: 5px;
			}
			.control-tasks__add {
				color: #ffffff;
			    background: #4a76a8;
			    border-radius: 50%;
			    width: 23px;
			    height: 23px;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    flex: none;
			    font-size: 12px;
			    margin-top: 5px;
			    //position: relative;
			    i {
			    	width: 11px;
			    	height: 10px;
			    }
			}
			.control-tasks__user-del {
				font-size: 12px;
				color: #30477b;
			}
			.control-tasks__add__select-users {
			    position: absolute;
			    //left: -138px;
			    box-shadow: 0 3px 3px 0px #98989845;
			    //top: 27px;
			    top: 106%;
			    //padding: 10px;
			    background: #ffffff;
			    border: 1px solid #eeeeee;
			    width: 244px;
			    .control-tasks__button-input {
			    	//width: 100%;
			    	width: 92%;
			    	margin: 10px;
			    	//margin-bottom: 10px;		    	
			    }
			    .control-tasks__add__select-user {
			    	color: #6f6f6f;
			    	display: flex;
			    	align-items: center;
			    	//margin-bottom: 10px;
			    	padding: 5px 10px;
			    	transition: all .3s ease;
			    	&:last-child {
			    		//margin-bottom: 0;
			    	}
			    	&:hover {
						background: $a-color;
			    	}
			    	.control-tasks__add__select-user__img {
			    		width: 30px;
			    		height: 30px;
			    		background: no-repeat center / cover;
			    		border-radius: 50%;
			    		flex: none;
			    		margin-right: 5px;
			    	}
			    	.control-tasks__add__select-user__nick {
			    		font-weight: 500;
			    	}
			    }
			}
		}
		.control-tasks__checkbox {
			height: 30px;
			line-height: 30px;
			padding: 0 20px;
			color: $t-color;
			// border-bottom: 1px solid $q-color;
			cursor: pointer;
			transition: all .3s ease;
		}
		.control-tasks__footer-buttons {
		    //height: 30px;
		    margin-top: auto;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    margin-bottom: 20px;
		    padding-top: 20px;
		    color: #525252;
		    flex-wrap: wrap;
		    .control-tasks__footer-button {
		    	margin: 0 5px;
		    	//font-size: 16px;
		    	border: 1.3px solid;
		    	padding: 5px 10px;
		    	border-radius: 3px;
		    	box-shadow: 0 0 2px 1px #b5b5b53b;
		    	cursor: pointer;	    	
		    	transition: all .3s ease;
		    	&.primary {
					border-color: #79d879;
					&:hover {
		    			background: #79d879;
		    			color: #ffffff;
		    		}
		    	}
		    	&.secondary {
		    		border-color: #e85c5c;		
		    		&:hover {
		    			background: #e85c5c;
		    			color: #ffffff;
		    		}
		    	}
		    }
		}
		/* .control-tasks__comments {
			height: 100%;
			display: flex;
			flex-direction: column;
		}
		.control-tasks__comments-title {
			text-align: center;
			font-size: 10px;
			color: $t-color;
			margin-top: 5px;
		}
		.control-tasks__comments-content {
			margin-top: 20px;
			padding: 0 17px;
			margin-bottom: auto;
			overflow-y: auto;
		}
		.control-tasks__comment-item {
			display: flex;
			//align-items: flex-end;
			margin-bottom: 20px;
			//&:last-child {
				//margin-bottom: 0;
			//}
		}
		.comment-item__img {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			flex: none;
			margin-right: 14px;
		}
		.comment-item__content {
			flex: 1;
		}
		.comment-item__header {
			display: flex;
			align-items: center;
		}
		.comment-item__header-name {
			flex: 1;
		}
		.comment-item__header-time {
		    color: #a5a5a5;
		}
		.comment-item__text {
			// border: 1px solid $t-color;
			border-radius: 10px;
			min-height: 56px;
			padding: 4px 8px;
			margin-top: 5px;
			box-shadow: 0 2px 4px 0px #00000014;
			color: #525252;
		}
		.control-tasks__comment-time {
			color: $t-color;
			text-align: right;
			margin-bottom: 10px;
		}
		.control-tasks__comments-footer {
			border-top: 1px solid $t-color;
			border-bottom: 1px solid $t-color;
			padding: 10px;
		}
		.control-tasks__comments-input {
			height: 62px;
			width: 100%;
			border: 1px solid $t-color;
			padding: 6px 10px;
			resize: none;
		} */
	}
}

@import 'media';