@import 'variables';


@media (max-width: 1800px) {

}

@media (max-width: 1700px) {

}

@media (max-width: 1600px) {

}
@media (max-width: 1550px) {

}
@media (max-width: 1500px) {
      
}

@media (max-width: 1450px) {
    
}
@media (max-width: 1400px) {
 
}

@media (max-width: 1350px) {
	.section-img {
		width: 300px;
	}

	.section-about {
		margin: 0 55px;
	}
}

@media (max-width: 1300px) {

}

@media (max-width: 1270px) {

} 

@media (max-width: 1200px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 1100px) {

}

@media (max-width: 1023px) {
	.h3 {
		font-size: 18px;
		margin: 0 0 12px 0
	}
	.section-text {
		font-size: 16px;
	}
}

@media (max-width: 991px) {

}

@media (max-width: 950px) {

}

@media (max-width: 860px) {
 
}

@media (max-width: 767px) {

}

@media (max-width: 500px) {

}

@media (max-width: 450px) {

}

@media (max-width: 400px) {
 
}
