// colors
$q-color: #E4E4E4;
$w-color: #224B7A;
$e-color: #4A76A8;
$r-color: #2536A5;
$t-color: #707070;
$y-color: #7C8284;
$u-color: #000000;
$i-color: #5FC8EF;
$o-color: #FFFFFF;
$p-color: #76CCEF;
$a-color: #F3F3F3;
// colors
